target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Redhat Java Plugin Unneccessary Files
.classpath
.project
org.eclipse.*

# Visual Studio Code
.vscode/
.settings/